PLIVO_AUTH_ID=your_auth_id_here
PLIVO_AUTH_TOKEN=your_auth_token_here
PLIVO_FROM_NUMBER=your_plivo_number
PLIVO_TO_NUMBER=destination_number
PLIVO_ASSOCIATE_NUMBER=associate_number
OTP_CODE=1503
BASE_URL=https://your_ngrok_url
AUDIO_MP3_URL=https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3